$fontSize: 1rem;
$width: 80%;
$maxWidth: 46rem;
$smallWidth: 1000px;

$black:   #073642;
$white:   #eee8d5;
$red:     #dc322f;
$green:   #859900;
$yellow:  #b58900;
$blue:    #268bd2;
$magenta: #d33682;
$cyan:    #2aa198;
// $background: #fdf6e3;
$background: #eee8d559;
$foreground: #657b83;

$violet:  #685987;
$grey: #999;
$darkgrey: #6a737c;
$lightgrey: #eee;
